.htmal {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} 

.container {
    width: 1200px;
    padding: 15px 0;
    margin: 0 auto;
}

img {
    max-width: 100%;
}


.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex{
    display: flex;
}

.container-heder {
    height: 85px;
    width: 1152px;
}

.heder-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 0 327px 25px 0;
    padding: 36px 0 0 83px;
}

.heder-list-item {
    padding-top: 37px;
}

.search {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #718096;
    padding-left: 30px;
    margin-right: 186px;
    background-image: url(../img/head4.jpg);
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: left;
}

.head-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: 30px;
}

.head-icon {
    size: 20px 20px;
}

.head-icon:not(:last-child) {
    margin-right: 35px;
}


.section-1 {
    background-color: #FBFBFB;
    max-width: 1152px;
    max-height: 467px;
    margin-bottom: 39px;
}

.title-section-1 {
    display: inline-block;
    padding: 131px 0px 0 127px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #000000;
    background-image: url(../img/titleimg.jpg);
    background-repeat: no-repeat;
    background-position: right 90px bottom 8px;
    background-size: 70px 70px;
    margin: 0 102px 18px 0;
}

.text-section-1 {
    display: inline-block;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #4A5568;
    margin: 0;
    padding-left: 127px;
    margin: 0 128px 135px 0;
}

.img-section-1 {
    max-height: 323px;
    max-width: 476px;
    padding-top: 70px;
    margin: 0 93px 74px 0;
}

.position-section-2{
    padding-left: 93px;
    margin-bottom: 43px;
}

.conteiner-section-2 {
    max-height: 243px;
    max-width: 966px;
    margin-bottom: 39px;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    margin-right: 0;
}

.section-2-sidebar-1 {
    max-width: 533px;
}

.title-section-2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2D3748;
    padding: 41px 0 0 55px;
    margin: 0 232px 27px 0;
}

.text-section-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
    max-width: 404PX;
    margin: 0 77px 30px 0;
    padding-left: 53px;
}

.time-section-2 {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #718096;
    padding-left: 55px;
    margin-right: 245px;
}

.span-section-2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.img-section-2 {
    max-width: 434px;
    max-height: 243px;
}

.cart-list-items {
    padding-left: 93px;
}

.cart-list-item {
    max-width: 300px;
    max-height: 382px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}

.cart-list-item:nth-child(-n+2) {
    margin-right: 34px;
}

.img-list-item {
    max-width: 297px;
    max-height: 179px;
    margin-bottom: 18px;
}

.title-list-item {
    margin: 0px;
    margin-bottom: 15px;
    padding-left: 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.text-list-item {
    margin: 0;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
    padding-left: 17px;
    max-width: 258px;
}

.teme-list-item {
    display: inline-block;
    margin-bottom: 24px;
    padding-left: 16px;
    margin-right: 105px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #718096;
}

.span-list-item {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
}

.position-section-3 {
    margin-bottom: 43px;
}

.conteiner-blog-4 {
    max-width: 965px;
    max-height: 500px;
    margin-bottom: 31px;
    padding-left: 94px;
}

.blog-4 {
    background-color: #F7FAFC;
}

.title-blog-4 {
    max-width: 308px;
    max-height: 96px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
    margin: 0;
    margin-right: 69px;
    margin-bottom: 24px;
    padding-top: 98px;
    padding-left: 63px;
}

.text-blog-4 {
    margin: 0;
    display: inline-block;
    max-width: 311px;
    max-height: 114px;
    color: #718096;
    padding-left: 63px;
    margin-bottom: 31px;
}

.date-blog-4 {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
    margin-right: 171px;
    margin-bottom: 118px;
    padding-left: 63px;
    color:#4A5568;
}

.span-blog-4 {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0;
    margin-right: 65px; 
    margin-bottom: 31px;
}

.img-blog-4 {
    max-width: 525px;
    max-height: 500px;
}

.btn-blog-4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 9px 37px 9px 11px;
    background: #6B46C1;
    border-radius: 5px;
    background-image: url(../img/imgbutton.svg);
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: 90px;
}

.btn-position {
    padding-left: 937px;
    margin-bottom: 43px;
}

.conteiner-footer {
    max-width: 1152px;
    max-height: 79px;
    border-top: 1px solid #E8E8E8;
}

.text-foter {
    margin: 0;
    margin-right:550px;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-left: 89px;
    padding-top: 29px;
    margin-bottom: 73px;
}

.footer-icon {
    width: 20px;
    height: 19px;
    padding-top: 32PX;
}

.footer-icon-mar {
    margin-right: 35px;
}